@tailwind base;
@tailwind components;

/* Theme Variables */
:root {
  --scrollbar-bg: #aa7fd4;
  --thumb-bg: #639;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* helps with layout shift for scrollbar */

  /* when filtering lists like in search */
  margin-left: calc(100vw - 100%);
}

/* stylelint-disable */
* {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
}

h1,
h2 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h2 {
  font-size: 1.62671rem;
}

h3 {
  font-size: 1.38316rem;
}

h3,
h4 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85028rem;
}

h5,
h6 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h6 {
  font-size: 0.78405rem;
}

img {
  max-width: 100%;
}

li {
  margin-bottom: 0.725rem;
}

p {
  padding: 0;
  margin: 0 0 1.45rem;
}

/* custom styles */

/* Scrollbar styles */

/* Firefox */
/* stylelint-disable */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb-bg) var(--scrollbar-bg);
}
/* stylelint-enable */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumb-bg);
  border-radius: 14px;
  border: 3px solid var(--scrollbar-bg);
}

*:focus {
  @apply outline-none shadow-outline;
}

ul {
  @apply list-disc;
  @apply pl-4;
}

ol {
  @apply list-decimal;
  @apply pl-4;

  margin: 0 0 1.45rem;
}

a {
  text-decoration: underline;

  @apply rounded-sm;
}

a:hover {
  transition: opacity 300ms;
  opacity: 0.5;
}

.mdx-highlight-line {
  background-color: rgb(2, 55, 81);
  border-left: 0.3em solid rgb(2, 155, 206);
  display: block;
  margin-right: -0.5em;
  margin-left: -0.5em;
  padding-right: 1em;
  padding-left: 0.3em;
}

.mdx-embed {
  margin-bottom: 1.5rem;
}

@tailwind utilities;
