@tailwind base;
@tailwind components;

/* Theme Variables */
:root {
  --scrollbar-bg: #aa7fd4;
  --thumb-bg: #639;
  --box-shadow-lg: rgb(0, 0, 0, 0.25) 0 2px 8px 0;
  --box-shadow-xl: rgb(0, 0, 0, 0.2) 0 2px 16px 0;
  --colour-on-secondary: #9ca3af;
}

html.dark body {
  --colour-background: #1a202c;
  --colour-on-background: #f7fafc;
  --box-shadow-lg: rgb(0, 0, 0, 5) 0 2px 8px 0;
  --box-shadow-xl: rgb(0, 0, 0, 4) 0 2px 16px 0;
  --colour-on-secondary: #374151;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  word-break: break-word;
}

/* stylelint-disable */
* {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  background: var(--colour-background);
  color: var(--colour-on-background);
}

h1 {
  font-size: 2.25rem;
}

h1,
h2 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h2 {
  font-size: 1.62671rem;
}

h3 {
  font-size: 1.38316rem;
}

h3,
h4 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85028rem;
}

h5,
h6 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h6 {
  font-size: 0.78405rem;
}

img {
  max-width: 100%;
}

li {
  margin-bottom: 0.725rem;
}

p {
  padding: 0;
}

/* custom styles */

/* Scrollbar styles */

/* Firefox */
/* stylelint-disable */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb-bg) var(--scrollbar-bg);
}
/* stylelint-enable */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumb-bg);
  border-radius: 14px;
  border: 3px solid var(--scrollbar-bg);
}

/* Text selection */
::selection {
  color: gold;
  background-color: red;
}

a {
  @apply rounded-md;

  text-decoration: underline;
}

a:hover {
  transition: opacity 300ms;
  opacity: 0.5;
}

.mdx-highlight-line {
  background-color: rgb(2, 55, 81);
  border-left: 0.3em solid rgb(2, 155, 206);
  display: block;
  margin-right: -0.5em;
  margin-left: -0.5em;
  padding-right: 1em;
  padding-left: 0.3em;
}

.mdx-embed {
  margin-bottom: 1.5rem;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem !important;
}

.table-of-contents {
  z-index: 1;
  position: fixed;
  left: calc(50% + 400px);
  top: 13rem;
  max-height: 50vh;
  width: 310px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-xl);
  background-color: var(--colour-background);
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin: 0.75rem 0;
  font-size: 1rem;
  line-height: 1.75rem;
}

.table-of-contents ul {
  overflow: hidden auto;
}

.table-of-contents li {
  line-height: 1.25;
  margin-bottom: 0.55rem;
  margin-right: 1.25rem;
}

/* Markdown Styles */

.markdown p {
  margin-bottom: 1.45rem;
}

/* Tables */
.markdown :is(td, th) {
  @apply px-2 py-1 border border-gray-400;
}

.markdown table {
  @apply mb-6;

  width: 100%;
}

/* Lists */
.markdown :is(ul, ol) {
  padding-left: 1.2rem;
  margin-bottom: 2rem;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

@tailwind utilities;
